<ul class="post-list">
  {%- for post in include.posts -%}
  <li>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <span class="post-meta">{{ post.date | date: date_format }}</span>

    {%- if post.external_url -%}
      <h3>
        <a class="post-link" href="{{ post.external_url }}">
          {{ post.title | escape }}
        </a>
      </h3>

      <h5>{{ post.description }}</h5>
    {%- else -%}
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>

      <h5>{{ post.description }}</h5>
    {%- endif -%}

    <div class="tags">
      {% for tag in post.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a class="tag" href="/tag/{{ tag_name }}">#{{ tag_name }}</a>
      {% endfor %}
    </div>
  </li>
  {%- endfor -%}
</ul>
