<div class="post-grid">
  {%- for post in include.posts -%}
  <article class="post-card post-card--{{ post.tags | first | default: 'default' }}">
    <div class="post-card__inner">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <div class="post-card__meta">
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <div class="post-card__tags">
          {% for tag in post.tags %}
            {% capture tag_name %}{{ tag }}{% endcapture %}
            <a class="tag" href="/tag/{{ tag_name }}">#{{ tag_name }}</a>
          {% endfor %}
        </div>
      </div>

      {%- if post.external_url -%}
        <h3 class="post-card__title">
          <a href="{{ post.external_url }}">{{ post.title | escape }}</a>
        </h3>
      {%- else -%}
        <h3 class="post-card__title">
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
      {%- endif -%}

      {%- if post.description -%}
        <p class="post-card__description">{{ post.description }}</p>
      {%- endif -%}
    </div>
  </article>
  {%- endfor -%}
</div>
