pre, code {
  font-size: 18px;
  border-radius: 0px;
  border: none;
}

.highlight {
  border-radius: 0px;
}

.post-content {
  font-size: 20px;
  line-height: 1.7;
}

.tag-cloud {
  border: 1px solid $border-color-02;
}

@media screen and (max-width: 1600px) {
  .tag-cloud {
    right: 36px;
    top: 100px;
    padding: 8px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1600px) {
  .tag-cloud {
    position: fixed;
    right: 36px;
    top: 100px;
    padding: 8px;
    min-width: 200px;
  }
}

blockquote {
  margin: 32px 24px;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.about-avatar {
  border-radius: 128px;
  height: 256px;
}
